<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css" />
    <title>PSGC APP</title>
  </head>
  <body>
    <h1>WELCOME TO THE PSGC APP!</h1>
    <p>
      Check the github repository
      <a href="https://github.com/Lightsaver16/PSGC-App" target="_blank"
        >here.</a
      >
    </p>
    <p>
      Check the interactive docs (Swagger UI)
      <a href="/docs" target="_blank">here.</a>
    </p>
  </body>
</html>
